/target
/smtx_bridge/target
/public_chain/target
/private_chain/target
/wasm_generator_rust/target
/public_chain/contract
/api/target
/database/target
/database/target/debug
/database
/public_chain/account
/public_chain/public_blockchain
/public_chain/transactions