/target
/smtx_bridge/target
/public_chain/target
/private_chain/target
/wasm_generator_rust/target
/api/target
/database/target
/database/target/debug
/database
# /public_chain/contract
# /public_chain/account
# /public_chain/public_blockchain
# /public_chain/transactions
public_chain/transactions/db/LOG*
public_chain/account/LOG*
public_chain/account/db/LOG*
public_chain/public_blockchain/LOG*
public_chain/transactions/LOG*
public_chain/contract/LOG*
