[Unit]
Description=SUMOTEX Public Chain
After=network.target

[Service]
ExecStart=/sumotex_mainnet/chain/public_chain
WorkingDirectory=/sumotex_mainnet/chain/public_chain
User=mike
Restart=always

[Install]
WantedBy=multi-user.target
